.toc {
    display: none;
}

.postMeta {
    padding-bottom: 1em;
    display: flex;
}

.postMetaItem+.postMetaItem {
    padding-left: 0.5em;
    border-left: 2px solid #dfdfdf;
    margin-left: 0.5em;
}

.postMetaItem>i {
    padding-right: 0.5em;
}

@media (min-width: 90rem) {
    .toc {
        display: block;
        z-index: 2;
        margin-top: 60px;
        position: fixed;
        left: calc((var(--container-width) + 100%)/2);
        width: calc((100% - var(--container-width))/2);
        overflow-y: auto;
    }

    .levelH2 {
        margin-left: 0;
    }

    .levelH3 {
        margin-left: 1rem;
    }

    .levelH4 {
        margin-left: 2rem;
    }
}
