:root {
    --header-background-color: #222;
    --header-color: #FFF;
    --header-height: 50px;
    --header-border: 1px;
    --container-width: 62.5rem;
    --container-padding: 0.9375rem;
    ---main-top: calc(var(--header-height) + var(--header-border) * 2);
}

.header {
    position: absolute;
    width: 100%;
    background-color: var(--header-background-color);
    line-height: var(--header-height);
    border-top: var(--header-border) solid #000;
    border-bottom: var(--header-border) solid #080808;
    z-index: 10;
}

.header a {
    color: var(--header-color);
}

.bar {
    display: block;
    background-color: var(--header-background-color);
    width: var(--header-height);
    border: 0;
    outline: 0;
}

.bar i {
    transition-duration: 200ms;
}

.bar.active i {
    transform: rotate(90deg);
    transition-duration: 200ms;
}

.nav {
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navHeader {
    display: flex;
}

.title {
    padding-left: var(--container-padding);
    font-size: 1.25rem;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    padding-right: var(--header-height);
}

.menuList {
    list-style: none;
    margin: 0;
    display: none;
}

.menuList.active {
    display: block;
    flex-direction: column;
    text-align: center;
}

.menuItem {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    line-height: var(--header-height);
}

.main {
    margin: 0 auto;
    max-width: var(--container-width);
    padding-top: var(--header-height);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: 100%;
}

@media (min-width: 768px) {
    .bar {
        display: none;
    }

    .title {
        text-align: left;
    }

    .nav {
        flex-direction: row;
    }

    .menuList {
        display: flex;
    }
}
