:root {
    --header-background-color: #222;
    --header-color: #FFF;
    --header-height: 50px;
    --container-width: 62.5rem;
    --container-padding: 0.9375rem;
}

.header {
    background-color: var(--header-background-color);
    line-height: var(--header-height);
}

.header a {
    color: var(--header-color);
}

.nav {
    margin: 0 auto;
    max-width: var(--container-width);
    display: flex;
    justify-content: space-between;
}

.title {
    padding-left: var(--container-padding);
    font-size: 1.25rem;
    font-weight: bold;
}

.menuList {
    list-style: none;
    display: flex;
    margin: 0;
}

.menuItem {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    line-height: var(--header-height);
}

.main {
    margin: 0 auto;
    max-width: var(--container-width);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    width: 100%;
}
