.postList {
    list-style: none;
    margin: 0;
}

.postItem {
    display: flex;
    line-height: 2;
}

.postItemMeta {
    margin-right: 1em;
    white-space: nowrap;
}

.postTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
